[submodule "gnuplot-iostream"]
	path = gnuplot-iostream
	url = https://github.com/dstahlke/gnuplot-iostream.git
[submodule "Minuit2"]
	path = Minuit2
	url = https://github.com/GooFit/Minuit2.git
[submodule "netcdf-cxx4"]
	path = netcdf-cxx4
	url = https://github.com/Unidata/netcdf-cxx4.git
